.keen-widget-list-icons ul li {
	-js-display: flex;
	display: flex;
	margin-bottom: 1em;
	line-height: normal;
}

.keen-widget-list-icons ul li img {
	min-width: 25px;
}

.keen-widget-list-icons ul li .image {
	max-width: 25px;
}

.keen-widget-list-icons ul li .link-text{
	margin-left: 5px;
}

.keen-widget-list-icons ul li span {
	vertical-align: middle;
}

.keen-widget-list-icons .icon svg {
	-js-display: flex;
	display: flex;
	align-items: center;
}

.keen-widget-list-icons li {
	-js-display: flex;
	display: flex;
	margin-bottom: 1.3em;
}
.keen-widget-list-icons .icon {
    -js-display: flex;
    display: flex;
    align-items: center;
}
.keen-widget-list-icons .list-item-link {
	-js-display: flex;
	display: flex;
	align-items: center;
}